__pycache__
Step by step Mechanization in the LLF.pdf
ENGO623 Project 2023.pdf
results.csv
project_data.bin
ENGO623 Project - Adam Smith.aux
ENGO623 Project - Adam Smith.log
ENGO623 Project - Adam Smith.out
ENGO623 Project - Adam Smith.synctex.gz
